<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pr2.demo.com.calculator_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MemuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleActivity"
            android:label="@string/title_activity_single_activity" >
        </activity>
        <activity
            android:name=".CompoundActivity"
            android:label="@string/title_activity_compound" >
        </activity>
        <activity
            android:name=".CapitalActivity"
            android:label="@string/title_activity_capital" >
        </activity>
        <activity
            android:name=".NperActivity"
            android:label="@string/title_activity_nper" >
        </activity>
    </application>

</manifest>
